.mainBody {
  background-color: white;
}

.main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 600px;
  display: block;
  margin: 50px auto 0 auto;
  background-color: white;
  padding: 100px;
}

.main h2 {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
}

.main h3 {
  font-size: 22px;
  font-style: italic;
  margin: 35px 0 10px 0;
  font-weight: bold;
  color: #8db79e;
}

.phonetic {
  font-size: 18px;
  margin: 0;
}

.definition {
  font-size: 18px;
  margin: 0;
  line-height: 1.5;
}

.example {
  font-style: italic;
  opacity: 0.6;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 900px) {
  .main {
    max-width: 300px;
    padding: 30px;
  }

  .main h2 {
    font-size: 35px;
  }
}
