.main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 600px;
  display: block;
  margin: 50px auto;
}

.main h2 {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
}

.main h3 {
  font-size: 24px;
  font-style: italic;
  margin: 30px 0 20px 0;
  font-weight: bold;
}

.main p {
  font-size: 16px;
  margin: 0;
}

.example {
  font-style: italic;
  opacity: 0.7;
  margin: 0;
}
